.hero-content {
    width: 100%;
    height: 180px; /* Ajusta la altura según necesidad */
    position: relative;
    overflow: hidden;
    margin-top: 20px;

    .hero-image {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
      
      .hero-title {
        position: absolute;
        top: 15%;
        left: 5%;
        font-family: 'Rubik', sans-serif;
        margin: 0
      }
      
      .hero-text {
        position: absolute;
        bottom: 40%;
        left: 5%;
        font-size: 1.4rem;
        font-family: 'Rubik', sans-serif;
        margin: 0;
      }
      
      .hero-text_span {
        color: #FFC008;
      }
      
      .avatar-image{
        position: absolute;
        z-index: 1000;
        top: 10%;
        right: 20px;
        border-radius: 50%;
        box-shadow: 2px 2px 8px 4px rgba(0, 0, 0, 0.5);
        background-color: rgba(255,255,255,0.4);
        width: 110px;
      }

      .hamburger {
        position: absolute;
        top: 10px;
        right: 10px;

        .bar{
          content: '';
          display: block;
          width: 35px;
          height: 4px;
          border-radius: 2px;
          background-color: white;
        }

        .middle{
          margin: 6px 0
        }
      }

  }

  
  @media (max-width: 599px ) {
    .hero-content{
      display: flex;
      flex-direction: column;
      height: 100px;

      .hero-title{
        top: 5%;
        left: 5%;
        font-size: 2rem;
      }

      .hero-text {
        font-size: 90%;
        left: 5%;
        bottom: 10px;
      }
      .avatar-image{
        display: none;
      }

    }
  } 

  @media ((min-width: 600px) and ( max-width: 699px)) {
    .hero-content{
      height: 100px;
      .hero-text {
        font-size: 1rem;
        left: 10;
        bottom: 8%;
      }
      .avatar-image{
        display: none;
      }
    }
  } 

  
  
  // @media (max-width: 700px) {
  //   .hero-content{
  //     height: 100px;

  //     .hero-title{
  //       font-size: 2.5rem;
  //     }
  //     .hero-text {
  //       font-size: 1.5rem;
  //       left: 10;
  //       bottom: 10%;
  //     }
  //     .avatar-image{
  //       display: none;
  //     }
  //   }
  // } 
  

