
.contact-container {
width: 100%;
height: 300px;
display: flex;
flex-direction: column;

    .subtitle_h4 {
        font-size: 2rem;
        font-family: 'Rubik', sans-serif;
    }

    .contact_points {
        display: flex;
        align-items: center;
        width: 400px;
        justify-content: space-between;
        margin: 0 auto;
    
        .contact_icon {
            height: 40px;
            width: auto;
            filter: invert(68%) sepia(0%) saturate(0%) hue-rotate(220deg) brightness(87%) contrast(82%);
        }
        
        .icon_mail {
            height: 45px;
            width: auto;
        }
    }
    
    @media screen and (max-width: 400px) {
        .contact_points{
            width: 100%;
            justify-content: space-evenly;
            .contact_icon {
                height: 40px;
            }
            
            .icon_mail {
                height: 40px;
            }
        }
      }
}

@media screen and (max-width: 400px) {
    .contact-container{
        height: 230px;
    }
}