// _variables.scss

// Colores
$primary-color: #ffc107;
$secondary-color: #20202a;
$third-color: rgb(18, 18, 32);
$text-color: white;
$background-color: #f4f4f4;
$background-progressbar: rgba(255,255,255,0.1);
$stroke-progressbar-color: rgba(255,255,255,0.3);

// Tipografías

// Tamaños de fuente
$font-size-base: 16px;
$font-size-lg: 18px;
$font-size-sm: 14px;